:root {
  --lc: #775500;
  --blc: #080808;
  --bgc: #553300;
  --nul: #00000000;
  /*Background size is 128, the diagonal is 181, midpoint is 91.5, create a 2px wide center line*/
  --ls: 88.5px;
  --le: 92.5px;
  /*awkward offset gives the triangle effect*/
  --bls: 59.5px;
  --ble: 110.5px;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

div#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #ffcc66;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    /*Draw the grid*/
    linear-gradient(45deg, var(--nul) 0px var(--ls), var(--lc) var(--ls) var(--le), var(--nul) var(--le)),
    linear-gradient(-45deg, var(--nul) 0px var(--ls), var(--lc) var(--ls) var(--le), var(--nul) var(--le)),
    /*Draw the black lines making up the triangle and diamond*/
    linear-gradient(45deg, var(--nul) 0px var(--bls), var(--blc) var(--bls) var(--ble), var(--nul) var(--le)),
    linear-gradient(-45deg, var(--nul) 0px var(--bls), var(--blc) var(--bls) var(--ble), var(--nul) var(--le))
    ;
  /*Backround fills in the triangle and diamond*/
  background-color:var(--bgc);
  background-size: 128px 128px;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rootButton{
  width: 10em;
  font-size: 2em;
	padding: .5em 1em;
  margin: .25em;
	background-color:#101010;
  border:3px solid #775500;
	color:#ffcc66;
  box-shadow: 8px 8px #000;
	cursor:pointer;
	display:inline-block;
	font-size:2em;
  text-decoration:none;
  outline:none;
}
.rootButton:hover {
	background-color:#181018;
}
.rootButton:active {
	position:relative;
  top:2px;
  left: 1px;
  box-shadow: 7px 6px #000;
}